
.page {
    float: left;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

/*.docScroller {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}*/

.inside {
    background: yellow;
    opacity: 0.3;
    width: 80vw;
    margin: 10vh 0 0 10vw;
    height: 80vh;
}

.page-title {
    position: absolute;
    margin: 4vh 0 0 10vw;
}


/* -> overwrite MDL */

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 30px !important;
}
br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin-top: 9px; /* change this to whatever height you want it */
     }
.mdl-navigation__link {
    color: black !important;
}

.mdl-card__supporting-text {
    color: black !important;
}

.mdl-grid {
    padding-left: 0px !important;
}

.mdl-card {
    height: 40vh !important;
}


/* Header */
.main-nav {
    position: fixed;
    width: 100%;
    top: 0
}
.mdl-navigation__link {
    color: black !important;
}
.active-nav {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #16697a !important;
}


/* Home page */

#name {
    display: inline-block;
    text-align: right;
    width: 100%;
    opacity: .8;
    margin-left: auto;
    margin-right: auto;
}

#home {
    background: url('../images/Name.jpg') center / cover;
}

#home>.inside {
    background: none;
    opacity: 1;
}


/* About page */

#Name-about-image {
    width: 310px;
    height: 400px;
    float: left;
    padding: 0px 20px 0px 0px;
    position: relative;
}
.about.mdl-cell{
    height: 30px ;
}

.about-image.mdl-card {
    background: url('../images/On-mountain.jpg') center / cover;
    height: 425px !important;
}
#about-card{
    height: 100px !important;
}

/*#about>div>div>div {
    height: 37vh !important;
}*/

#about > .inside {
    background: none;
    opacity: 1;
}


/* Experience page*/

.card-image {
    height: 40px;
    padding: 20px 10px 0px 10px;
    float: left;
}
.experience-icon {
    height: 40px;
    padding-right: 15px;
    padding-top: 20px;
    float: left;
}
.experience-title{
    padding-top: 5px;
}

#experience-option-1{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
    color: #008ca8;
}
#experience-option-2{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experience-option-3{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experience-option-4{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experiences{
    width: 100px;
    margin: 0px;
}

#experience-option-1:hover{
    color: #16697a !important;
}
#experience-option-2:hover{
    color: #16697a !important;
}
#experience-option-3:hover{
    color: #16697a !important;
}
#experience-option-4:hover{
    color: #16697a !important;
}
#experience-card >.mdl-shadow--3dp{
    float: right;
    width: 500px;
    display: block;
    margin: 0;
}
#experience>.inside {
    background: none;
    opacity: 1;
}
#experience-card{
    margin-top: 15px;
    height: 325px !important;
    padding: 7px;
}
.card-title{
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
/*Skills page*/

#skills {
  text-align: center;
}


.languages-group>.mdl-chip {
    background-color: #d7e3fc;
}
.skills-group>.mdl-chip {
    background-color: #def1d9;
}
.frameworks-group>.mdl-chip {
    background-color: #e4e4e4;
}
.tools-group>.mdl-chip {
    background-color: #f1e0e1;
}
.awards-group>.mdl-chip {
    background-color: #f1e8d8;
}

#skills > .inside {
    background: none;
    opacity: 1;
}


/* Footer */

.mdl-mini-footer {
    background-color: #e0f0e8 !important;
    color: #16697a !important;
    justify-content: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
}
#footer-info{
    width: 100%;
    text-align: center;
}

.fa {
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1010px) {
    #experience-card{
        width: 100%;
        height: 350px;
    }
}
/*@media screen and (max-width: 840px) {
    #experience {
        height: 150vh;
    }
    .mdl-card {
        height: 200px !important;
    }
}*/

@media screen and (max-width: 450px) {
    #name > h1 {
        font-size: 21px !important;
    }
    #name > h2 {
        font-size: 15px !important;
    }
}
