
.page {
    float: left;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

/*.docScroller {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}*/

.inside {
    background: yellow;
    opacity: 0.3;
    width: 80vw;
    margin: 10vh 0 0 10vw;
    height: 80vh;
}

.page-title {
    padding-top: 25px;
   
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.portfolio-image{
    max-width: 200px;
}

.bigspacer{
    height: 80px;
}

.littlespacer{
    height: 40px;
}
.minispacer{
    height: 20px;
}
/* -> overwrite MDL */

h1,h2,h3,h4{

    font-family: 'Roboto Slab', serif !important;
}

p{
    font-family: 'Roboto', sans-serif !important;
}


br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin-top: 9px; /* change this to whatever height you want it */
     }
.mdl-navigation__link {
    color: black !important;
}

.mdl-card-new__supporting-text {
    color: white !important;
}

.mdl-grid {
    padding-left: 20px !important;
}




/* Header */
.header_name{
    position: absolute;
    display:inline-block;
/*    padding-left: 30%;
*/    float: left;
    top:0;
}
.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.mdl-layout__header-row .mdl-navigation{
   padding-top: 50px;
}
.mdl-layout__header-row{
  
    background-color: #04470b;
    height: 115px;

}
.mdl-navigation__link {
    color: white;
}
/*.active-nav {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #16697a !important;
}
*/

/* Home page */
.spacer{
    height: 80px;
    display: inline-block;
}
.littlespacer{
    height: 40px;
    display: inline-block;
}

#name {
    display: inline-block;
    text-align: right;
    width: 100%;
    opacity: .8;
    margin-left: auto;
    margin-right: auto;
}

.hi{
    color: white;
    text-align: center;
    padding-top: 100px;
    /*padding-left: 50px;*/
}
.ican{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 300;

    /*padding-right: 50px;*/
}

h2.page-title{
    color: #ff8d53 !important;
}

#home{
    background: #ff8d53;
    width: 100%;
    text-align:center;
}
#myCanvas{
      display: inline;
}

/* About page */

#about-card{
    margin-left: 40px;
}
#about-card .mdl-card__supporting-text{
    font-size: 18px;
    color: black !important;
    line-height: 22px;
    width: 100%;
    padding-top: 0px;
    margin-left: ;
}
#about .mdl-card {
    height: 400px !important;
}
#fun{
    text-align: center;
    margin-top: 40px;
    border-radius: 12px;
    background-color: #ff6153; 
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.projects-more{
    float: bottom;
    text-align: center;
    border-radius: 12px;
    float: bottom; 
    background-color: #ff4f29; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

#fun:hover{

}
.projects-more:hover{
    font-weight: bold;

}


/*#about>div>div>div {
    height: 37vh !important;
}*/

#about > .inside {
    background: none;
    opacity: 1;
    width: 100%;
    margin: 0;
}
#about .mdl-cell{
    max-width: 400px;
    margin-bottom: 100px;
}
#about{
    overflow: auto;
    max-width: 1200px;
}
#aboutwrapper{
    padding: 20px;
    text-align: center;
}
.abouttext{
    padding-left: 2%;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 18px;
    min-width: 380px;

}
.aboutimage{
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}
/*WhatIDo*/
.WhatIDo .mdl-card-new {
   display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    min-width: 200px;
    max-width: 300px;
    height: 400;
    cursor: pointer;
}

/*Project Boxes*/
.box {
  position:relative;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 30px;
  cursor: pointer;
  border: 1px solid white;
  -webkit-transition:0.5s;
}

/*.box:hover {
  border: 2px solid grey;
  color: #FFF;
}*/

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.proj::before {
  border-bottom: .2em solid #cececf;
  border-left: .2em solid #cececf;
  -webkit-transform-origin: 0 100%;
}

.proj::after {
  border-top: .2em solid #cececf;
  border-right: .2em solid #cececf;
  -webkit-transform-origin: 100% 0%;
}
.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}


.WhatIDo{
    text-align: center;
    max-width: 1200px;

}


.WhatIDo .card-image{
    height: 280px;
    margin: 0 auto;
    margin-top: 2px;
    display: block;
    float: center;
}
.project-label{
    font-weight: bold;
    font-size:18px;  
    color: #ff6153;
    text-align: center;
}
.description-box{
    height: 100px;
}
.mdl-chip{
    background-color: #ff6153;
    color: white;
    font-size:20px; 
}
div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
}
h4.description_content{  
    text-align: center;
    padding-top: 7px;
    margin: 0px;
    color: black !important;
}   
p.description_content{  
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: black !important
}  


/* Experience page*/
/*Work Boxes*/
.workbox {
  transition: 0.5s;
  cursor: pointer;
  border: 2px solid #cececf;
  -webkit-transition:0.5s;
}
.workbox::before, .workbox::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.workproj::before {
  border-bottom: 2px solid #cececf;
  border-left: 2px solid #cececf;
  -webkit-transform-origin: 0 100%;
}

.workproj::after {
  border-top: 2px solid #cececf;
  border-right: 2px solid #cececf;
  -webkit-transform-origin: 100% 0%;
}
.workbox:hover::after, .workbox:hover::before {
  -webkit-transform: scale(1);
}

.WhereIveWorked{
    max-width: 1200px;
}
.worked-container{
    margin-left: 10%;
    margin-right: 10%;
}


.WhereIveWorked .mdl-card {
    max-width: 400px;
    min-width: 350px;
}
.WhereIveWorked .mdl-cell {
    text-align: center;
    height: 250px;
    padding-left: 10px;
    border: .2em solid #cececf;

}
.handhover{
    cursor: pointer;
    padding-top: 50px;
    height: 100%;
}

.WhereIveWorked .card-image {
    height: 100px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    float: center;

}
.experience-icon {
    height: 40px;
    padding-right: 10px;
    padding-top: 20px;
    float: left;
}

.work-title{
    text-align: left;
    color: black;
}

#experience-option-1{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
    color: #008ca8;
}
#experience-option-2{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experience-option-3{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experience-option-4{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experiences{
    width: 100px;
    margin: 0px;
}

#experience-option-1:hover{
    color: #16697a !important;
}
#experience-option-2:hover{
    color: #16697a !important;
}
#experience-option-3:hover{
    color: #16697a !important;
}
#experience-option-4:hover{
    color: #16697a !important;
}
#experience-card >.mdl-shadow--3dp{
    float: right;
    width: 500px;
    display: block;
    margin: 0;
}
#experience>.inside {
    background: none;
    opacity: 1;
}
#experience-card{
    margin-top: 15px;
    height: 325px !important;
    padding: 7px;
}
.card-title{
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.brief_description{
    padding-left: 2%;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.supporting-image-two{
    max-width: 40%;
    max-height: 40%;
    /*padding: 20px;*/
}

/* Footer */

.mdl-mini-footer {
    background-color: #ff8d53 !important;
    color: white !important;
    justify-content: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    height: 200px;
}

#footer-info{
    width: 100%;
    text-align: center;
}
.resumeicon{
    height: 39px;
    padding-top: 1px;
    cursor: pointer;
}

.resumeicon:hover{
     color: white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.mdl-mini-footer__link-list{
    padding-top: 40px;
}

.fa {
    height: 24px;
    cursor: pointer;
}
.fa:hover{
    color: white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
a.meicon:visited{
    color:white !important;
}

.navbar-default {
  background-color: #ffffff;
  border: none;

}
.navbar-default .navbar-brand {
  color: #585858;
  font-family: 'Merriweather', serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffb753;
}
.navbar-default .navbar-text {
  color: #585858;
}
.navbar-default .navbar-nav > li > a {
  color: #585858;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffb753;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff8f7;
  background-color: #ffb753;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff8f7;
  background-color: #ff8d53;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff8d53;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #585858;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-link {
  color: #585858;
}
.navbar-default .navbar-link:hover {
  color: #fff8f7;
}
.navbar-right{
      font-family: 'Roboto', sans-serif;

}