
.page {
    float: left;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

/*.docScroller {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}*/

.inside {
    background: yellow;
    opacity: 0.3;
    width: 80vw;
    margin: 10vh 0 0 10vw;
    height: 80vh;
}

.page-title {
    position: absolute;
    margin: 4vh 0 0 10vw;
}


/* -> overwrite MDL */

h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 30px !important;
}
br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin-top: 9px; /* change this to whatever height you want it */
     }
.mdl-navigation__link {
    color: black !important;
}

.mdl-card__supporting-text {
    color: white !important;
}

.mdl-grid {
    padding-left: 0px !important;
}




/* Header */
.header_name{
    position: absolute;
    display:inline-block;
/*    padding-left: 30%;
*/    float: left;
    top:0;
}
.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.mdl-layout__header-row .mdl-navigation{
   padding-top: 50px;
}
.mdl-layout__header-row{
  
    background-color: #04470b;
    height: 115px;

}
.mdl-navigation__link {
    color: white;
}
.active-nav {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #16697a !important;
}


/* Home page */
.topPadding{
    height: 120px;
    display: inline-block;
}

#name {
    display: inline-block;
    text-align: right;
    width: 100%;
    opacity: .8;
    margin-left: auto;
    margin-right: auto;
}

#home {
    background: url('../images/Name.jpg') center / cover;
}

#home>.inside {
    background: none;
    opacity: 1;
}


/* About page */

#Name-about-image {
    width: 310px;
    height: 400px;
    float: left;
    padding: 0px 20px 0px 0px;
    position: relative;
}
.about.mdl-cell{
    height: 30px ;
}

.about-image.mdl-card {
    background: url('../images/On-mountain.jpg') center / cover;
    height: 425px !important;
}
#about-card{
    height: 100px !important;
}

/*#about>div>div>div {
    height: 37vh !important;
}*/

#about > .inside {
    background: none;
    opacity: 1;
}

/*WhatIDo*/
.WhatIDo .mdl-card {
    height: 260px !important;
    max-width: 260px;
    min-width: 260px;
}
.WhatIDo{
     max-width: 850px;
}
.WhatIDo .card-image{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

div.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
}  
div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
}  
p.description_content{  
    padding:10px;  
    margin:0px;  
}  


/* Experience page*/
.WhereIveWorked{
    max-width: 850px;
}


.WhereIveWorked .mdl-card {
    height: 185px !important;
    max-width: 400px;
    min-width: 300px;
}

.card-image {
    height: 65px;
    padding: 30px 0px 0px 170px;
    float: center;
}
.experience-icon {
    height: 40px;
    padding-right: 15px;
    padding-top: 20px;
    float: left;
}
.card-title{
    text-align: center;

}
.work-title{
    text-align: center;

}

#experience-option-1{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
    color: #008ca8;
}
#experience-option-2{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experience-option-3{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experience-option-4{
    width: 400px;
    padding-top: 5px;
    display: block;
    margin: 0px;
}
#experiences{
    width: 100px;
    margin: 0px;
}

#experience-option-1:hover{
    color: #16697a !important;
}
#experience-option-2:hover{
    color: #16697a !important;
}
#experience-option-3:hover{
    color: #16697a !important;
}
#experience-option-4:hover{
    color: #16697a !important;
}
#experience-card >.mdl-shadow--3dp{
    float: right;
    width: 500px;
    display: block;
    margin: 0;
}
#experience>.inside {
    background: none;
    opacity: 1;
}
#experience-card{
    margin-top: 15px;
    height: 325px !important;
    padding: 7px;
}
.card-title{
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
/*Skills page*/

#skills {
  text-align: center;
}


.languages-group>.mdl-chip {
    background-color: #d7e3fc;
}
.skills-group>.mdl-chip {
    background-color: #def1d9;
}
.frameworks-group>.mdl-chip {
    background-color: #e4e4e4;
}
.tools-group>.mdl-chip {
    background-color: #f1e0e1;
}
.awards-group>.mdl-chip {
    background-color: #f1e8d8;
}

#skills > .inside {
    background: none;
    opacity: 1;
}


/* Footer */

.mdl-mini-footer {
    background-color: #e0f0e8 !important;
    color: #16697a !important;
    justify-content: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
}
#footer-info{
    width: 100%;
    text-align: center;
}

.fa {
    height: 24px;
    cursor: pointer;
}

.container{
    margin: 0 !important;
    padding: 0 !important;
}
 #canvas {
        display: block;
        padding: 0;
        margin: 0 auto;

        background-color:red;
    }

    @media(max-width:1200px) {
        #canvas {
            width: 100px;
            height: auto;
            background-color:red;
        }
    }